/*
color pallete:

#323a45 	(50,58,69)
	#3f6184 	(63,97,132)
	#778899 	(119,136,153)
	#f6f7f9 	(246,247,249)
	#5faeb6 	(95,174,182)

*/
body {
    background-color: #323a45;
    background-size: cover;
    background-position: center;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 97vh;
    color: #555;
}

h1 {
  white-space:nowrap;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 8vh;
  align-self: center;
  margin: auto;
  width: 50%;
  text-align: center;
  padding-top: 1%;
}

#left {
  width: 28%;
  background-color: #f6f7f9;
  opacity: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 3vh;
  padding: 1%;
  margin-left: 32%;
  top: 20.38%;
  position: absolute;
}

#center {
  width: 28%;
  height: 130%;
  background-color: #f6f7f9;
  opacity: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 3vh;
  padding: 1%;
  margin-left: 1%;
  top: 20.38%;
  position: absolute;
}

#right {
  width: 28%;
  background-color: #f6f7f9;
  opacity: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 3vh;
  padding: 1%;
  margin-left: 63%;
  top: 20.38%;
  position: absolute;
}

#Map{
  height: 100%;
  width: 85%;
  position: absolute;
  left: 7.5%;
  top: 160%;

}

#amtRaised{
  font-size: 6vw;
  color: #3f6184;
  display: flex;
  justify-content: center;
  align-items: center;
}

#distance{
  font-size: 6vw;
  color: #3f6184;
  display: flex;
  justify-content: center;
  align-items: center;
}


.donate{
  font-size: 4vw;
  font-family: 'Poppins', sans-serif;
  border: none;
  background-color: #323a45;
  color: #f6f7f9;
  border-radius: 20px;
  position:absolute;
  left: 6.5vw;
}

#invisible{
  color: #f6f7f9;
  font-size: 2.5vw;
}

#icon{
  height: 25vw;
  position: relative;
  left: 15%;
}

#cts-logo{
  padding-left: 1%;
  padding-top: 7%;
}

#rkhorse-logo{
  padding-left: 1%;
  padding-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}
